* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(imagenes/cafe.png.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
}

body.dark-mode .header {
    background-color: rgb(0, 0, 0); 
}

.menus ul {
    display: flex;
    list-style: none;
}

.menus ul li {
    margin: 0 5px;
}

.menus ul li a {
    color: plum;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    background: rgb(43, 42, 42);
    padding: 8px 10px;
    border-radius: 5px;
    transition: all 0.5s ease;
}

.menus ul li a:hover {
    color: plum;
    background: #fefefe;
}

body.dark-mode .menus ul li a {
    background-color: rgb(0, 0, 0); 
    color: #fff; 
    border: 2px solid rgba(221, 160, 221, 0.5);
}

body.dark-mode .menus ul li a:hover {
    color: plum;
    background: #fefefe;
    
}

body.dark-mode .nombre,
body.dark-mode .main h2 {
    color: #fff; 
}

body.dark-mode {
    background-image: url(imagenes/darkm.jpg); 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
}

body.dark-mode .footer {
    background-color: rgb(0, 0, 0); 
    border: 2px solid rgba(221, 160, 221, 0.5);
}

body.dark-mode nav.menus {
    background-color: rgb(0, 0, 0); 
    
}

body.dark-mode nav.menus ul li a {
    color: #fff; 
}
.container {
    display: flex;
    flex-direction: column;
    min-height: 1000px;
    text-align: center;
}

.container > * {
    padding: 10px;
    margin: 10px;
    flex: 1 100%;
    border-radius: 10px;
}

.header {
    width: 100%;
    background-color: rgb(43, 42, 42);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0;
}
.dark-mode header{
    border: 2px solid rgba(221, 160, 221, 0.5);
}

.header-portada {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-logo {
    width: 50px;
    height: auto;
    margin-right: 10px;
    margin-top: 10px;
}

.nombre {
    color: white;
    font-size: 24px;
    margin: 0;
}

.menus {
    background: rgb(43, 42, 42);
    height: 38px;
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-left, .nav-right {
    display: flex;
    align-items: center;
}

.nav-left {
    justify-content: flex-start;
}

.nav-right {
    justify-content: flex-end;
}

nav .logo {
    font-size: 33px;
    font-weight: 600;
}

.menus ul {
    display: flex;
    list-style: none;
}

.menus ul li {
    margin: 0 5px;
}

.menus ul li a {
    color: plum;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    background: rgb(43, 42, 42);
    padding: 8px 10px;
    border-radius: 5px;
    transition: all 0.5s ease;
}

.menus ul li a:hover {
    color: black;
    background: #fefefe;
}

.switch-container {
    position: relative;
    margin-right: 20px; 
    border: #ccc;
}

.switch {
    position: relative;
    width: 60px;
    height: 30px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider::before {
    position: absolute;
    content: "🌞";
    height: 26px;
    width: 26px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

input:checked + .slider {
    background-color: #000429;
}

input:checked + .slider::before {
    transform: translateX(26px);
    content: "🌑";
}
/* la introducción */
.intro {
    padding: 32px;
    background: url("imagenes/intro.png") no-repeat center center; 
    background-size: cover;
    color: white;
    text-align: right; 
    display: flex;
    align-items: center;
    justify-content: flex-end; 
}
.dark-mode .intro{
    background: url("imagenes/ld.avif") no-repeat center center; 
    border: 2px solid rgba(221, 160, 221, 0.5);
}


.intro-parrafo {
    background-color: rgba(0, 0, 0, 0.1); 
    padding: 16px;
    border-radius: 5px;
    max-width: 1000px;
}

.intro p {
    font-size: 18px;
    line-height: 26px;
    text-align: right; 
}

/*el main */
.main {
    flex: 1; 
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main h2 {
    margin-top: 10px;
    color: rgb(43, 42, 42);
}

.main section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 800px; 
    height: 450px; 
}

.main section img {
    width: 0; 
    flex-grow: 1; 
    object-fit: cover;
    opacity: 0.8;
    transition: 0.5s ease;
}

.main section img:hover {
    cursor: pointer;
    width: 200px; 
    opacity: 1;
    filter: contrast(120%); 
}

/*  el footer */
.footer {
    width: 100%; 
    background-color: rgb(43, 42, 42);
    color: white;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; 
    text-align: center;
}

.footer-logo {
    flex: 1; 
    margin-left: 20px;
}

.footer-logo .logo {
    width: 300px; 
    height: auto;
}

.footer-social {
    flex: 1;
    text-align: center;
}

.footer-social a {
    margin: 0 10px;
}

.footer-social .social-icon {
    width: 30px; 
    height: auto;
}

.footer-copyright {
    flex: 1;
    text-align: right;
    margin-right: 20px;
}

/* el sobre nosotros*/
.about-section {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 40px;
    height: 600px; 
}

.about-image {
    width: 50%; 
    height: 100%;
    background-image: url('imagenes/libreria.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.about-text {
    width: 50%; 
    padding: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.7); 
    border-radius: 10px;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}

.text {
    margin-bottom: 20px; 
}
.about-slogan {
    text-align: center; 
    margin-top: 20px; 
}

.slogan-image {
    width: 80%; 
    height: auto; 
    margin-bottom: 10px; 
}

.about-slogan p {
    font-size: 18px;
    color: #ffffff; 
    font-weight: bold; 
}
/*Los libros*/
.book {
    position: relative;
    border-radius: 10px;
    width: 300px;
    height: 400px;
    background-color: whitesmoke;
    -webkit-box-shadow: 1px 1px 12px #000;
    box-shadow: 1px 1px 12px #000;
    -webkit-transform: preserve-3d;
    -ms-transform: preserve-3d;
    transform: preserve-3d;
    -webkit-perspective: 2000px;
    perspective: 2000px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #000;
    background-color: rgba(0, 0, 0, 1);
    border-radius: 0 10px  25px 0;
}

.cover {
    top: 0;
    position: absolute;
    background-color: lightgray;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform-origin: 0;
    -ms-transform-origin: 0;
    transform-origin: 0;
    -webkit-box-shadow: 1px 1px 12px #000;
    box-shadow: 1px 1px 12px #000;
    border-radius: 0 10px 10px 0;
}

.cover img {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border-radius: 0 10px 10px 0;
}

.book:hover .cover {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: rotatey(-80deg);
    -ms-transform: rotatey(-80deg);
    transform: rotatey(-80deg);
}

.info {
    margin-left: 10px; 
    font-size: 15px;
    margin-left: 35px;
    color: #ddd;
}

.book {
    width: 300px;
    height: 400px;
    margin: 10px;
    margin-top: 45px;
}

.books {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center; 
    width: 100%; 
}

.books h2 {
    width: 100%;
}
.switch-container {
    position: relative;
    margin-left: auto; 
}

/* Dia y Noche */
.switch {
    position: relative;
    width: 60px;
    height: 30px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider::before {
    position: absolute;
    content: "🌞";
    height: 26px;
    width: 26px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

input:checked + .slider {
    background-color: #000429;
}

input:checked + .slider::before {
    transform: translateX(26px);
    content: "🌑";
}
/*boton ver mas*/
.cta {
    display: none;
    position: relative;
    margin: auto;
    padding: 12px 18px;
    transition: all 0.6s ease;
    border: none;
    background: none;
    cursor: pointer;
}
.book:hover .cta{
    display: block;
}
.cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #dfceff;
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
}

.cta span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color:plum;
}

.cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: plum;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}

.cta:hover:before {
    width: 100%;
    background: #906cd3;
}

.cta:hover svg {
    transform: translateX(0);
}

.cta:active {
    transform: scale(0.95);
}
/*El contacto*/
.msj{
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
}
.msj-campos {
    margin-bottom: 20px;
}

.msj-ind {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

.msj-input {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #fff;
    color: #333;
    border-radius: 5px;
}

textarea.form-input {
    height: 100px;
}

.msj-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #ff6f69;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-button:hover {
    background-color: #ff5f59;
}

